<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://ru.itsyn.jmix.menu_editor/menu.application" insertBefore="administration">
        <item screen="menu_MenuEntity.browse"
              caption="msg://ru.itsyn.jmix.menu_editor.screen.menu/menuEntityBrowser.menu"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
    </menu>
    <menu id="administration">
        <item screen="menu_User.browse" caption="msg://ru.itsyn.jmix.menu_editor.screen.user/UserBrowse.caption"/>
    </menu>

</menu-config>